networks:
  opentelemetry:
    name: opentelemetry
    driver: bridge
    external: true

services:
  tomcat:
    image: tomcat:latest
    networks:
      - opentelemetry
    ports:
      - 8090:8080
#      - ${OTEL_COLLECTOR_PORT_GRPC}
#      - ${OTEL_COLLECTOR_PORT_HTTP}
#      - ${OTEL_COLLECTOR_HOST}
#    environment:
#      - OTEL_COLLECTOR_PORT_GRPC
#      - OTEL_COLLECTOR_PORT_HTTP
#      - CATALINA_OPTS=-javaagent:/otel/opentelemetry-javaagent.jar -Dotel.service.name=${OTEL_COLLECTOR_HOST}
#      - OTEL_SERVICE_NAME=tomcat
#    volumes:
#      - ../otel/opentelemetry-javaagent.jar:/otel/opentelemetry-javaagent.jar
    command: /bin/bash -c "mv /usr/local/tomcat/webapps.dist/* /usr/local/tomcat/webapps/ && rm -r /usr/local/tomcat/webapps.dist && catalina.sh run"
