networks:
  opentelemetry:
    name: opentelemetry
    driver: bridge
    external: true

services:
  tomcat-test:
    image: tomcat:latest
    networks:
      - opentelemetry
    ports:
      - 8090
    command: /bin/bash -c "apt-get -y update; apt-get -y install curl; curl http://localhost:8080"
