networks:
  opentelemetry:
    name: opentelemetry
    driver: bridge
    external: true

services:
  php-app:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - opentelemetry
    environment:
      - AUTORELOAD_PROGRAMS="swoole"
      - AUTORELOAD_ANY_FILES=0
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - OTEL_SERVICE_NAME=my-php-app
      - OTEL_RESOURCE_ATTRIBUTES=deployment.environment=docker      
    ports:
      - 8000:9501
    volumes:
      - ./www:/var/www
