networks:
  opentelemetry:
    name: opentelemetry
    driver: bridge
    external: true

services:
  app:
    build: .
    ports:
      - "9501:9501"
    networks:
      - opentelemetry
    environment:
      OTEL_SERVICE_NAME: swoole-demo
      AUTORELOAD_PROGRAMS: "swoole"
      AUTORELOAD_ANY_FILES: 0
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4318
      OTEL_RESOURCE_ATTRIBUTES: deployment.environment=docker
